@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<hr />
<address>
    PT BONATIGA JAYA ABADI<br />
    Jl. Jampea Raya No. 127 A RT 11/RW 7 Koja - Tanjung Priok - Jakarta Utara<br />
    14220<br />
    <abbr title="Phone">Phone : (021) 43931219</abbr><br />
</address>

<address>
    <strong>Website:</strong>   <a target="_blank" href="http://bonatiga.com">bonatiga.com</a><br />
    <strong>Marketing:</strong>   <a href="sukmawati@bonatiga.com">sukmawati@bonatiga.com</a><br />
</address>